* {
    box-sizing: border-box;
}

:root {
    --nav-height: 50px;
    --background-light: #dddddd;
    --background-muted: #bbbbbb;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-rows: var(--nav-height) 1fr;

    height: 100vh;
}

nav {
    display: flex;
    align-items: center;

    padding: 10px;
    background: var(--background-muted);
}

#emulator {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    overflow: hidden; /* TODO: This is a hack. Make it go away. */
}

#rom, #ram, #info {
    margin: 1em;
    border: 2px solid #000000;
    height: calc(100% - 2em);
    max-height: calc(100% - 2em);
}

table thead {
    background: var(--background-muted)
}

table tr:nth-of-type(even) {
    background: var(--background-light)
}

#screen {
    width: 512px;
    height: 256px;
    border: 1px solid #0000ff;
    margin: 1em;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --quick-info-height: calc(100vh - var(--nav-height) - 256px - 6em);
    --color-hl: #ffff7a;
    --color-bp: #ff7575;
}

#quick-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    height: 100%;
}

#rom, #ram, #stack {
    display: grid;
    grid-template-rows: 24px 1fr;
}

#rom .clusterize-scroll, #ram .clusterize-scroll {
    height: calc(100vh - var(--nav-height) - 2em - 24px);
    max-height: calc(100vh - var(--nav-height) - 2em - 24px);
}
#stack .clusterize-scroll {
    height: calc(var(--quick-info-height) - 24px);
    max-height: calc(var(--quick-info-height) - 24px);
}

#rom .row, #ram .row, #stack .row {
    border-bottom: 1px solid #000000;
    padding: 2px;
    height: 24px;
}

#rom .row strong, #ram .row strong, #stack .row strong {
    display: inline-block;
    width: 150px;
}
#rom .row input, #ram .row input {
    margin: 4px;
    width: 12px;
    height: 12px
}

button, input, .action-group {
    margin: 0 1em;
}

.row.hl {
    background: var(--color-hl);
}
.row.bp {
    background: var(--color-bp);
}
.row.hl.bp {
    background: repeating-linear-gradient(
        -45deg,
        var(--color-hl),
        var(--color-hl) 20px,
        var(--color-bp) 20px,
        var(--color-bp) 40px
    );
}

.action-group {
    border: 1px solid #000000;
    padding: .2em;
}
